/* ----------------------------------------
Boogaloo
---------------------------------------- */
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  src: url('./boogaloo/v19/kmK-Zq45GAvOdnaW6y1C9ys.woff2') format('woff2')
}
