/* ----------------------------------------
BenchNine
---------------------------------------- */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: url('./benchnine/v16/ahcbv8612zF4jxrwMosbUMl0.woff2') format('woff2')
}
