/* ----------------------------------------
Sancreek
---------------------------------------- */
@font-face {
  font-family: 'Sancreek';
  font-style: normal;
  font-weight: 400;
  src: url('./sancreek/v23/pxiHypAnsdxUm159X4D5V14.woff2') format('woff2')
}
