/* ----------------------------------------
Cantarell
---------------------------------------- */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: url('./cantarell/v15/B50NF7ZDq37KMUvlO015jKJr.woff2') format('woff2')
}
