/* ----------------------------------------
Actor
---------------------------------------- */
@font-face {
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: url('./actor/v17/wEOzEBbCkc5cO0ejVSk.woff2') format('woff2')
}
