/* ----------------------------------------
Balthazar
---------------------------------------- */
@font-face {
  font-family: 'Balthazar';
  font-style: normal;
  font-weight: 400;
  src: url('./balthazar/v17/d6lKkaajS8Gm4CVQjFEfzh7p.woff2') format('woff2')
}
