/* ----------------------------------------
Alice
---------------------------------------- */
@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: url('./alice/v20/OpNCnoEEmtHa6GcOrg4.woff2') format('woff2')
}
